{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{{- ( site.Params.schema.publisherType | default "Organization") | title -}}",
  "name": "{{ site.Title | safeJS }}",
  "url": "{{ site.Home.Permalink }}",
  "description": "{{ site.Params.description | plainify | truncate 180 | safeJS }}",
  "thumbnailUrl": "{{ site.Params.assets.favicon | default "favicon.ico" | absURL }}",
  "sameAs": [
    {{- if site.Params.schema.sameAs }}
      {{ range $i, $e := site.Params.schema.sameAs }}{{ if $i }}, {{ end }}"{{ trim $e " " }}"{{ end }}
    {{- else}}
      {{ range $i, $e := site.Params.SocialIcons }}{{ if $i }}, {{ end }}"{{ trim $e.url " " | safeURL }}"{{ end }}
    {{- end}}
  ]
}
</script>
{{- else if (or .IsPage .IsSection) }}
{{/* BreadcrumbList */}}
{{- $url := replace .Parent.Permalink ( printf "%s" site.Home.Permalink) "" }}
{{- $lang_url := strings.TrimPrefix ( printf "%s/" .Lang) $url }}
{{- $bc_list := (split $lang_url "/")}}

{{- $scratch := newScratch }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
  {{- range $index, $element := $bc_list }}

    {{- $_ := $scratch.Add "path" (printf "%s/" $element ) }}
    {{- $bc_pg := site.GetPage ($scratch.Get "path") -}}

    {{- if (and ($bc_pg) (gt (len . ) 0))}}
    {{- if (and $index)}}, {{end }}
    {
      "@type": "ListItem",
      "position": {{ add 1 $index }},
      "name": "{{ $bc_pg.Name | safeJS }}",
      "item": "{{ $bc_pg.Permalink | safeJS }}"
    }
    {{- end }}

  {{- end }}
  {{- /* self-page addition */ -}}
  {{- if (ge (len $bc_list) 2) }}, {{end }}
    {
      "@type": "ListItem",
      "position": {{ len $bc_list }},
      "name": "{{ .Name | safeJS }}",
      "item": "{{ .Permalink | safeJS }}"
    }
  ]
}
</script>
{{- if and .IsPage (ne .Section "") }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ .Title | plainify | safeJS }}",
  "name": "{{ .Title | plainify | safeJS }}",
  "description": "{{ with .Description | plainify }}{{ . | safeJS }}{{ else }}{{ .Summary | plainify | safeJS }}{{ end }}",
  "keywords": [
    {{- if .Params.keywords }}
    {{ range $i, $e := .Params.keywords }}{{ if $i }}, {{ end }}"{{ $e | safeJS }}"{{ end }}
    {{- end }}
  ],
  "articleBody": "{{ .Content | plainify | safeJS }}",
  "wordCount": {{ .WordCount }},
  "inLanguage": "{{ .Language.Lang | default "zh-CN" }}",
  {{ if .Params.cover.image -}}
  "image":
    {{- if (ne .Params.cover.relative true) -}}
    "{{ .Params.cover.image | absURL }}",
    {{- else -}}
    "{{ (path.Join .RelPermalink .Params.cover.image ) | absURL }}",
    {{- end}}
  {{- else }}
    {{- $images := partial "templates/_funcs/get-page-images" . -}}
    {{- with index $images 0 -}}
  "image": "{{ .Permalink }}",
    {{- end }}
  {{- end -}}
  {{- with .PublishDate -}}{{- if not .IsZero }}"datePublished": "{{ .Format "2006-01-02T15:04:05-07:00" }}",{{ end -}}{{- end -}}
  {{- with .Lastmod -}}{{- if not .IsZero }}"dateModified": "{{ .Format "2006-01-02T15:04:05-07:00" }}",{{ end -}}{{- end -}}
  {{- with (.Params.author | default site.Params.author) }}
  "author":
    {{- if (or (eq (printf "%T" .) "[]string") (eq (printf "%T" .) "[]interface {}")) -}}
  [{{- range $i, $v := . -}}
  {{- if $i }}, {{end -}}
  {
    "@type": "Person",
    "name": "{{ $v | safeJS }}"
  }
  {{- end }}],
    {{- else -}}
  {
    "@type": "Person",
    "name": "{{ . | safeJS }}"
  },
    {{- end -}}
  {{- end }}
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink | safeJS }}"
  },
  "publisher": {
    "@type": "{{- ( site.Params.schema.publisherType | default "Organization") | title -}}",
    "name": "{{ site.Title | safeJS }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site.Params.assets.favicon | default "favicon.ico" | absURL }}"
    }
  }
}
</script>
{{- end }}{{/* .IsPage end */}}

{{- end -}}
